/target/
/result

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.beads/kde-beads/
# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.direnv
.envrc

# End of https://www.toptal.com/developers/gitignore/api/direnv
