[Desktop Entry]
Type=Application
Name=Knecklace
GenericName=Bead Viewer
Comment=Manage beads on a native KDE board
Exec=knecklace
Icon=view-task
Terminal=false
Categories=Development;Utility;
Keywords=beads;project;
StartupNotify=true
